* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 6rem;
}

.Galerii {
    width: 100%;
    background-color: aliceblue;
    overflow: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
}

.Galerii > img {
    height: 400px;
}